.thirty {
  max-width: 75vw;
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 6rem;
}

.thirty h3 {
  font-size: 1.75rem;
  text-align: center;
}

.thirty p {
  text-align: center;
}
